# Shopping Agent Configuration
DATABASE_URL=postgresql+asyncpg://postgres:sbrhiTjWrbmR3qMZ@db.lymxeblqqxljnyysvxzy.supabase.co:5432/postgres
HOST=127.0.0.1
PORT=8000
DEBUG=true
COLES_API_KEY=eae83861d1cd4de6bb9cd8a2cd6f041e
PRICE_REFRESH_POLL_INTERVAL_MS=1000
